In [33]:
import pandas as pd
import numpy as np
from IPython.display import display

def kg_to_lbs(num):
    print(num.name)
    #print(type(num))
    if num.name=='Weight unit':
        print('begin here')
        print(num)
        print('num.nam 9 \n')
        print(num.values)
def rep_parse(x):
    #if x.iloc[1]=='(--)':
    #print(type(x))
    if type(x)==str and')' in x:
        #print(x)
        x = x[:4]
    return x
def s_f_parse(x):
    if type(x)==str and ')' in x:
        x = x[:1]
    return x
def sep_time(x):
    if type(x)==str and ':' not in x:
        x = None
    return x 
def sep_unfin(x):
    if type(x)==str and (':' in x or '--' in x):
        x = None
    return x

pd.set_option('display.max_columns',None) #this is to show all columns
#def score_parse(x):
 #   if type(x)==str and ':' in x:
def parse_wkout(workout):
    score211 = Mens_data[workout].str.split(" ",5,expand=True)
    score211[0]=score211[0].str.extract('(\d+)',expand=False)#takes off the "th" and "nd" at end of numbers (getss all numeric values)
    score211[1]=score211[1].str.extract('\(([^)]+)',expand=False)#grabs everything in parenthasis
    score211[5] = score211[1].apply(sep_time)
    score211[6] = score211[1].apply(sep_unfin)
    score211[2] = score211[2].apply(rep_parse)
    score211[3] = score211[3].apply(s_f_parse)
    score211[4] = score211[4].apply(s_f_parse)
    score211[4].fillna(score211[3],inplace=True)
    score211.drop(score211.columns[3],axis=1,inplace=True) #drop third column in table referenced by the index
    score211.drop(score211.columns[1],axis=1,inplace=True)
    return score211

def shift_it(Mens_data):
    
    display(Mens_data.iloc[57645:57650])
    fn = Mens_data.loc[57645]['first_name']
    #Nicols_aff = Mens_data.loc[57645].shift(periods=-2)
    mask = Mens_data.iloc[[57645]].shift(periods=-1,axis="columns")
    mask.at[57645,'first_name']=fn
    points = mask.at[57645,'Height and Weight']
    mask.at[57645,'Height and Weight'] = np.nan
    Mens_data.at[57645,'points']=points
    print("MASK 1")
    display(mask)
    Mens_data.loc[57645] = mask[Mens_data.columns].values
    for x in Mens_data.iloc[57645].iteritems():
        #print(len(mask[Mens_data.columns].values[0]))
        #print(mask[Mens_data.columns].values)
        print("ello")
        print(x)
        Mens_data.at[57645,x[0]] = x[1][0]
        #print(type(x[1][0]))
        #x = "jimmu"
    print("MASK")
    display(mask)
    display(Mens_data.loc[[57645]])
    
#Mens_data = pd.read_csv('test_open_men.csv')
Mens_data = pd.read_csv('men_main_21.1.csv')#'men_open_21.1.csv')
shift_it(Mens_data)

Mens_data['Age'] = Mens_data['Age'].str.extract('(\d+)',expand=False)

height_and_weight = Mens_data['Height and Weight'].str.split("|",1,expand=True)
Mens_data['Height'] = height_and_weight[0]
Mens_data['Weight'] = height_and_weight[1]

height_and_unit=Mens_data['Height'].str.split(" ",1,expand=True)
#display(Mens_data[Mens_data['Height']=='CrossFit'])




Mens_data['Height']=height_and_unit[0].astype(float)
Mens_data['Height unit']=height_and_unit[1]
#bill.head(10)
weight_and_unit=Mens_data['Weight'].str.split(" ",2,expand=True)
#there is an extra space after the pipe
Mens_data['Weight']=weight_and_unit[1].astype(float)
Mens_data['Weight unit']=weight_and_unit[2]
Mens_data.head(10)
#test = Mens_data.where(Mens_data['Weight unit']=='kg')['Weight'].astype(int)


Mens_data['New Kg weight']= Mens_data.where(Mens_data['Weight unit']=='kg').apply(lambda x: x*2.20462 if x.name=='Weight'else x)['Weight']
Mens_data['New Kg weight'].fillna(Mens_data['Weight'],inplace=True)
Mens_data['Body Weight in LBS'] = Mens_data['New Kg weight']
Mens_data=Mens_data.drop(['Weight','Weight unit','New Kg weight','Height and Weight'],axis=1)
#Mens_data.where(Mens_data['Weight unit']=='kg').apply(kg_to_lbs)

Mens_data['New cm height']= Mens_data.where(Mens_data['Height unit']=='cm ').apply(lambda x: x/2.54 if x.name=='Height'else x)['Height']
Mens_data['New cm height'].fillna(Mens_data['Height'],inplace=True)
Mens_data['Body Height in inch'] = Mens_data['New cm height']
Mens_data=Mens_data.drop(['Height','Height unit','New cm height'],axis=1)
#display(Mens_data.head(10))


New_211 = parse_wkout('21.1')
Mens_data.drop(columns=['21.1','21.1 time'],inplace=True)
Mens_data['21.1 Placing'] = New_211[0]
Mens_data['21.1 S or F'] = New_211[4]
Mens_data['21.1 Completion time'] = New_211[5]
Mens_data['21.1 Tiebreaker reps'] = New_211[6]

#0 is 211 placing
#4 scaled of fixed
#5 completion time
#6 Tiebreaker reps
New_212 = parse_wkout('21.2')
Mens_data.drop(columns=['21.2','21.2 time'],inplace=True)
Mens_data['21.2 Placing'] = New_212[0]
Mens_data['21.2 S or F'] = New_212[4]
Mens_data['21.2 Completion time'] = New_212[5]
Mens_data['21.2 Tiebreaker reps'] = New_212[6]


New_213 = parse_wkout('21.3')
Mens_data.drop(columns=['21.3','21.3 time'],inplace=True)
Mens_data['21.3 Placing'] = New_213[0]
Mens_data['21.3 S or F'] = New_211[4]
Mens_data['21.3 Completion time'] = New_213[5]
Mens_data['21.3 Tiebreaker reps'] = New_213[6]
#display(Mens_data.head(10))

New_214 = parse_wkout('21.4')
Mens_data.drop(columns=['21.4','weight'],inplace=True)
Mens_data['21.4 Placing'] = New_214[0]
Mens_data['21.4 S or F'] = New_214[4]
Mens_data['21.4 Weight Lifted in lbs'] = New_214[6]
#print(score21144)
#print(len(score211))
#place211 = score211[0]



#score212

#if ' (--)' != score211[1] :#and ':' not in score211[1]:
 #   reps211 = score211[2]
  #  print('we have exception')
#    print(score211[4])

#KG=Mens_data[Mens_data['Weight unit']=='kg']
#KG.head(10)
#test.head(10)
display(New_214)
display(Mens_data.head(40))
display(Mens_data.loc[[57645]])

Mens_data.to_csv('Final_Mens_open21.1.csv')

/home/branchmanager/.local/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3441: DtypeWarning: Columns (3,18) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,57645,NICOL,NaN,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,237470,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.
57646,57646,FAGNER RAPHAELLI,FRAGA,57647,Brazil,South America,Age 39,CrossFit TXXIII,173 cm | 71 kg,237476.0,1186th (584 reps),NaN,7988th (13:34),225 reps,101151st (--),NaN,127151st (--),NaN,NaN
57647,57647,KELLAN,FULLINGIM,57648,United States,North America,Age 17,CrossFit Jenks,71 in | 162 lb,237478.0,73681st (211 reps),NaN,78848th (184 reps),NaN,23248th (154 reps),NaN,61701st (166 lbs),Weight lifted: 166 lbs.,NaN
57648,57648,DAVID,HICKS,57649,United States,North America,Age 47,CrossFit 816,72 in | 190 lb,237479.0,63617th (216 reps),NaN,69155th (205 reps),NaN,60079th (135 reps),NaN,44628th (187 lbs),Weight lifted: 187 lbs.,NaN
57649,57649,ANTONINO,DELISI,57650,United States,North America,Age 26,CrossFit Petram,65 in | 171 lb,237482.0,64489th (216 reps),NaN,75239th (192 reps),NaN,53317th (136 reps),NaN,44437th (187 lbs),Weight lifted: 187 lbs.,NaN

MASK 1

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,NICOL,NICOL,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,237470,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.,NaN

ello
('Unnamed: 0', ['NICOL'])
ello
('first_name', ['NICOL'])
ello
('lastname', ['MARC'])
ello
('Placing', ['57646'])
ello
('country', ['United Kingdom'])
ello
('continent', ['Europe'])
ello
('Age', ['Age 41'])
ello
('affiliate', ['CrossFit Watford'])
ello
('Height and Weight', [nan])
ello
('points', ['237470'])
ello
('21.1', ['48384th (236 reps)'])
ello
('21.1 time', [nan])
ello
('21.2', ['63386th (214 reps)'])
ello
('21.2 time', [nan])
ello
('21.3', ['68919th (126 reps)'])
ello
('21.3 time', [nan])
ello
('21.4', ['56781st (176 lbs)'])
ello
('weight', ['Weight lifted: 176 lbs.'])
ello
('Unnamed: 18', [nan])
MASK

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,NICOL,NICOL,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,237470,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.,NaN

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,Height and Weight,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Unnamed: 18
57645,NICOL,NICOL,MARC,57646,United Kingdom,Europe,Age 41,CrossFit Watford,NaN,237470,48384th (236 reps),NaN,63386th (214 reps),NaN,68919th (126 reps),NaN,56781st (176 lbs),Weight lifted: 176 lbs.,NaN

             0     2     4   5     6
0           46  lbs)  None NaN   317
1           56  lbs)  None NaN   316
2            6  lbs)  None NaN   345
3           57  lbs)  None NaN   316
4          100  lbs)  None NaN   312
...        ...   ...   ...  ..   ...
137459  137246  None  None NaN  None
137460  137246  None  None NaN  None
137461  137246  None  None NaN  None
137462  137246  None  None NaN  None
137463  137246  None  None NaN  None

[137464 rows x 5 columns]

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,points,Unnamed: 18,Body Weight in LBS,Body Height in inch,21.1 Placing,21.1 S or F,21.1 Completion time,21.1 Tiebreaker reps,21.2 Placing,21.2 S or F,21.2 Completion time,21.2 Tiebreaker reps,21.3 Placing,21.3 S or F,21.3 Completion time,21.3 Tiebreaker reps,21.4 Placing,21.4 S or F,21.4 Weight Lifted in lbs
0,0,JEFFRE,ADLER,1,Canada,North America,27,CrossFit Wonderland,101.0,NaN,197.00000,69.000000,20,None,11:55,None,8,None,9:14,None,27,None,8:15,None,46,None,317
1,1,SCOTT,PANCHIK,2,United States,North America,33,CrossFit Mentality,141.0,NaN,187.00000,69.000000,33,None,12:25,None,47,None,9:52,None,5,None,7:48,None,56,None,316
2,2,TRAVIS,MEAD,3,United States,North America,34,Iron Valley CrossFit,165.0,NaN,205.00000,73.000000,87,None,13:02,None,24,None,9:38,None,48,None,8:26,None,6,None,345
3,3,SAXON,PANCHIK,4,United States,North America,25,CrossFit Cliffside,217.0,NaN,180.00000,69.000000,5,None,11:25,None,68,None,9:59,None,87,None,8:41,None,57,None,316
4,4,RICHARD,FRONING JR.,5,United States,North America,33,CrossFit Mayhem,254.0,NaN,194.00000,69.000000,58,None,12:45,None,91,None,10:04,None,5,None,7:48,None,100,None,312
5,5,NOAH,OHLSEN,6,United States,North America,30,Peak 360 CrossFit,272.0,NaN,190.00000,67.000000,11,None,11:41,None,21,None,9:33,None,2,None,7:44,None,238,None,301
6,6,SAMUEL,COURNOYER,7,Canada,North America,25,CrossFit Mayhem,276.0,NaN,205.00000,70.866142,158,None,13:27,None,79,None,10:02,None,20,None,8:09,None,19,None,328
7,7,COLE,GREASHABER,8,United States,North America,21,CrossFit Lee's Summit (LS),403.0,NaN,206.00000,72.000000,82,None,13:01,None,68,None,9:59,None,46,None,8:25,None,207,None,303
8,8,AGUSTIN,RICHELME,9,Argentina,South America,24,NaN,417.0,NaN,182.98346,68.110236,30,None,12:19,None,137,None,10:15,None,1,None,7:40,None,249,None,300
9,9,OLEG,LASCENKO,10,United Kingdom,Europe,23,CrossFit Abu Dhabi,428.0,NaN,202.82504,68.897638,53,None,12:43,None,22,None,9:34,None,102,None,8:46,None,251,None,300
10,10,CÉDRIC,LAPOINTE,11,Canada,North America,24,CrossFit 819,454.0,NaN,187.00000,69.000000,62,None,12:49,None,9,None,9:16,None,27,None,8:15,None,356,None,296
11,11,GIORGOS,KARAVIS,12,Greece,Europe,26,CrossFit Kifissia,510.0,NaN,198.41580,69.685039,207,None,13:40,None,42,None,9:51,None,138,None,8:54,None,123,None,309
12,12,STAS,SOLODOV,13,Russian Federation,Asia,36,CrossFit Geraklion,548.0,NaN,187.39270,68.897638,111,None,13:14,None,2,None,8:52,None,67,None,8:35,None,368,None,295
13,13,JONNE,KOSKI,14,Finland,Europe,26,CrossFit 10K,564.0,NaN,185.00000,67.322835,1,None,11:08,None,109,None,10:09,None,25,None,8:14,None,429,None,293
14,14,ELLIOT,SIMMONDS,15,United Kingdom,Europe,27,Dragon CrossFit,582.0,NaN,191.80194,72.834646,308,None,13:57,None,36,None,9:47,None,68,None,8:36,None,170,None,305
15,15,LOGAN,COLLINS,16,United States,North America,30,NaN,589.0,NaN,182.00000,67.000000,53,None,12:43,None,358,None,10:42,None,15,None,8:06,None,163,None,306
16,16,JAY,CROUCH,17,Australia,Oceania,22,Reebok CrossFit Frankston,611.0,NaN,180.77884,68.897638,9,None,11:40,None,50,None,9:53,None,18,None,8:07,None,534,None,289
17,17,COLTEN,MERTENS,18,United States,North America,23,CrossFit Kilo,621.0,NaN,185.00000,64.000000,248,None,13:47,None,3,None,9:04,None,15,None,8:06,None,355,None,296
18,18,JAYSON,HOPPER,19,United States,North America,23,CrossFit Simpsonville,630.0,NaN,215.00000,73.000000,308,None,13:57,None,165,None,10:20,None,132,None,8:53,None,25,None,326
19,19,PATRICK,VELLNER,20,Canada,North America,31,CrossFit Nanaimo,638.0,NaN,195.00000,71.000000,47,None,12:39,None,13,None,9:27,None,4,None,7:46,None,574,None,287
20,20,ALEX,KOTOULAS,21,Greece,Europe,28,NaN,642.0,NaN,171.96036,66.929134,23,None,12:05,None,12,None,9:22,None,30,None,8:17,None,577,None,287
21,21,BRENT,FIKOWSKI,22,Canada,North America,30,NaN,644.0,NaN,217.00000,74.000000,15,None,11:48,None,41,None,9:50,None,231,None,9:10,None,357,None,296
22,22,HUNTER,HOLIFIELD,23,United States,North America,23,Yune CrossFit,702.0,NaN,195.00000,70.000000,230,None,13:44,None,242,None,10:31,None,127,None,8:52,None,103,None,312
23,23,CODY,ANDERSON,24,United States,North America,29,CrossFit Magnify,708.0,NaN,170.00000,67.000000,117,None,13:17,None,312,None,10:38,None,64,None,8:32,None,215,None,302
24,24,MITCH,WAGNER,24,United States,North America,32,CrossFit Stars and Bars,708.0,NaN,185.00000,68.000000,134,None,13:23,None,111,None,10:10,None,94,None,8:44,None,369,None,295
25,25,PHIL,TOON,26,United States,North America,23,CrossFit Mesa,741.0,NaN,190.00000,70.000000,572,None,14:28,None,87,None,10:03,None,58,None,8:29,None,24,None,326
26,26,ALEKSANDAR,ILIN,27,Russian Federation,Asia,31,CrossFit FormA,748.0,NaN,191.80194,68.897638,649,None,14:35,None,18,None,9:30,None,44,None,8:24,None,37,None,320
27,27,JOSHUA,AL-CHAMAA,28,United Kingdom,Europe,29,CrossFit Alioth,749.0,NaN,206.00000,71.653543,62,None,12:49,None,79,None,10:02,None,563,None,9:48,None,45,None,318
28,28,FREDERIK,AEGIDIUS,28,Denmark,Europe,34,CrossFit Reykjavík,749.0,NaN,185.18808,68.503937,100,None,13:08,None,95,None,10:05,None,124,None,8:51,None,430,None,293
29,29,SPENCER,PANCHIK,30,United States,North America,25,CrossFit Cliffside,753.0,NaN,180.00000,68.000000,8,None,11:37,None,156,None,10:18,None,40,None,8:22,None,549,None,288
30,30,FABIAN,BENEITO,31,Spain,Europe,25,CrossFit Alzira,769.0,NaN,198.41580,70.078740,238,None,13:45,None,181,None,10:23,None,100,None,8:45,None,250,None,300
31,31,SEAN,GORDON,32,United States,North America,23,CrossFit Explode,807.0,NaN,185.00000,68.000000,154,None,13:26,None,55,None,9:56,None,48,None,8:26,None,550,None,288
32,32,KHAN,PORTER,33,Australia,Oceania,31,CrossFit Play,812.0,NaN,205.00000,71.653543,182,None,13:35,None,63,None,9:58,None,313,None,9:23,None,254,None,300
33,33,LAZAR,ĐUKIĆ,34,Serbia,Europe,25,CrossFit NS,817.0,NaN,198.41580,72.047244,413,None,14:10,None,15,None,9:29,None,23,None,8:12,None,366,None,295
34,34,MICHAEL,MCKENNA,34,United States,North America,33,CrossFit Majestic,817.0,NaN,195.00000,69.000000,134,None,13:23,None,270,None,10:34,None,299,None,9:21,None,114,None,310
35,35,LUKAS,GROULEFF,36,Denmark,Europe,23,CrossFit Randers,834.0,NaN,NaN,NaN,82,None,13:01,None,168,None,10:21,None,8,None,7:50,None,576,None,287
36,36,NICK,MATHEW,37,United States,North America,27,CrossFit Minnetonka,850.0,NaN,195.00000,69.000000,119,None,13:18,None,274,None,10:35,None,284,None,9:19,None,173,None,305
37,37,REGGIE,FASA,38,United Kingdom,Europe,26,NaN,854.0,NaN,198.41580,67.716535,689,None,14:39,None,5,None,9:10,None,102,None,8:46,None,58,None,316
38,38,TYLER,CHRISTOPHEL,39,United States,North America,31,NaN,864.0,NaN,190.00000,70.000000,629,None,14:33,None,54,None,9:55,None,80,None,8:39,None,101,None,312
39,39,LUCAS,HEUZE,40,France,Europe,26,CrossFit Genas,868.0,NaN,194.00656,70.472441,94,None,13:05,None,168,None,10:21,None,174,None,9:01,None,432,None,293

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,points,Unnamed: 18,Body Weight in LBS,Body Height in inch,21.1 Placing,21.1 S or F,21.1 Completion time,21.1 Tiebreaker reps,21.2 Placing,21.2 S or F,21.2 Completion time,21.2 Tiebreaker reps,21.3 Placing,21.3 S or F,21.3 Completion time,21.3 Tiebreaker reps,21.4 Placing,21.4 S or F,21.4 Weight Lifted in lbs
57645,NICOL,NICOL,MARC,57646,United Kingdom,Europe,41,CrossFit Watford,237470,NaN,NaN,NaN,48384,None,None,236,63386,None,None,214,68919,None,None,126,56781,None,176