In [2]:
import pandas as pd
import numpy as np
from IPython.display import display

def kg_to_lbs(num):
    print(num.name)
    #print(type(num))
    if num.name=='Weight unit':
        print('begin here')
        print(num)
        print('num.nam 9 \n')
        print(num.values)
def score_parse(x):
    #if x.iloc[1]=='(--)':
    #print(type(x))
    if type(x)==str and')' in x:
        #print(x)
        x = x[:4]
    return x
#Mens_data = pd.read_csv('test_open_men.csv')
Mens_data = pd.read_csv('men_open_21.1.csv')

Mens_data['Age'] = Mens_data['Age'].str.extract('(\d+)',expand=False)

height_and_weight = Mens_data['Height and Weight'].str.split("|",1,expand=True)
Mens_data['Height'] = height_and_weight[0]
Mens_data['Weight'] = height_and_weight[1]

height_and_unit=Mens_data['Height'].str.split(" ",1,expand=True)
Mens_data['Height']=height_and_unit[0].astype(float)
Mens_data['Height unit']=height_and_unit[1]
#bill.head(10)
weight_and_unit=Mens_data['Weight'].str.split(" ",2,expand=True)
#there is an extra space after the pipe
Mens_data['Weight']=weight_and_unit[1].astype(float)
Mens_data['Weight unit']=weight_and_unit[2]
Mens_data.head(10)
#test = Mens_data.where(Mens_data['Weight unit']=='kg')['Weight'].astype(int)


Mens_data['New Kg weight']= Mens_data.where(Mens_data['Weight unit']=='kg').apply(lambda x: x*2.20462 if x.name=='Weight'else x)['Weight']
Mens_data['New Kg weight'].fillna(Mens_data['Weight'],inplace=True)
Mens_data['Body Weight in LBS'] = Mens_data['New Kg weight']
Mens_data=Mens_data.drop(['Weight','Weight unit','New Kg weight','Height and Weight'],axis=1)
#Mens_data.where(Mens_data['Weight unit']=='kg').apply(kg_to_lbs)

Mens_data['New cm height']= Mens_data.where(Mens_data['Height unit']=='cm ').apply(lambda x: x*2.54 if x.name=='Height'else x)['Height']
Mens_data['New cm height'].fillna(Mens_data['Height'],inplace=True)
Mens_data['Body Height in inch'] = Mens_data['New cm height']
Mens_data=Mens_data.drop(['Height','Height unit','New cm height'],axis=1)


score211 = Mens_data['21.1'].str.split(" ",5,expand=True)
score211[0]=score211[0].str.extract('(\d+)',expand=False)
score211[1]=score211[1].str.extract('(\d+)',expand=False)
score211[2] = score211[2].apply(score_parse)
#print(score21144)
#print(len(score211))
place211 = score211[0]


#score212

#if ' (--)' != score211[1] :#and ':' not in score211[1]:
 #   reps211 = score211[2]
  #  print('we have exception')
#    print(score211[4])

#KG=Mens_data[Mens_data['Weight unit']=='kg']
#KG.head(10)
#test.head(10)
display(score211)
display(Mens_data.head(10))

         0    1     2     3     4
0   116564  392  reps     -    f)
1   116854  167  reps     -    f)
2   116869  NaN  None  None  None
3   115764  118  reps     -    s)
4   117347  NaN  None  None  None
5   117347  NaN  None  None  None
6   116816  217  reps     -    f)
7   116387  569  reps     -    f)
8   115580  209  reps     -    s)
9   114856  215  reps     -    s)
10  112603  304  reps     -    s)
11  116869  NaN  None  None  None
12  103726  468  reps     -    s)
13  116869  NaN  None  None  None
14  104950  395  reps     -    s)
15  116601  386  reps     -    f)
16  116623  384  reps     -    f)
17   98242   13     -    s)  None
18   98415   13     -    s)  None
19  116605  386  reps     -    f)
20  116506  445  reps     -    f)
21   93363   47  reps  None  None
22  116776  250  reps     -    f)
23  116869  NaN  None  None  None
24  101027   14     -    s)  None
25   99345   13     -    s)  None
26  116732  302  reps     -    f)
27  116477  475  reps     -    f)
28  116677  375  reps     -    f)
29   98056   13     -    s)  None
30  112564  309  reps     -    s)
31  116300   14     -    f)  None
32   98889   13     -    s)  None
33  116684  374  reps     -    f)
34  114727  215  reps     -    s)
35  116620  384  reps     -    f)
36  116623  384  reps     -    f)
37  110337  379  reps     -    s)
38  110344  379  reps     -    s)
39  110802  377  reps     -    s)
40  106429  390  reps     -    s)
41  110721  377  reps     -    s)
42   99652   14     -    s)  None
43   94110   27  reps  None  None
44  103261  499  reps     -    s)
45  108812  383  reps     -    s)
46   95309   10     -    s)  None
47  116661  377  reps     -    f)
48  110344  379  reps     -    s)
49  117347  NaN  None  None  None

,Unnamed: 0,first_name,lastname,Placing,country,continent,Age,affiliate,points,21.1,21.1 time,21.2,21.2 time,21.3,21.3 time,21.4,weight,Body Weight in LBS,Body Height in inch
0,0,ARMANDO,FELIX,118001,United States,North America,53,Gnardog CrossFit,426956,116564th (392 reps - f),NaN,110519th (16:40 - f),225 reps,100206th (9:31 - f),180 reps,99667th (100 lbs - f),Weight lifted: 100 lbs.,209.00000,69.00
1,1,CHRIS,ZUCK,118002,United States,North America,37,The Pack CrossFit,426960,116854th (167 reps - f),NaN,110205th (10:08 - f),225 reps,100367th (11:25 - f),180 reps,99534th (115 lbs - f),Weight lifted: 115 lbs.,NaN,NaN
2,2,STEPHEN,HUDEC,118002,United States,North America,31,CrossFit Proton,426960,116869th (--),NaN,110327th (12:44 - f),225 reps,99902nd (7:42 - f),180 reps,99862nd (66 lbs - f),Weight lifted: 66 lbs.,187.39270,452.12
3,3,SERGEY,KUPRIYANOV,118004,Russian Federation,Asia,33,Natrium CrossFit,426962,115764th (118 reps - s),NaN,110650th (19:59 - f),225 reps,100553rd (151 reps - f),NaN,99995th (35 lbs - f),Weight lifted: 35 lbs.,NaN,NaN
4,4,CARLOS,RIVEIRO VILLANUEVA,118005,Spain,Europe,18,CrossFit Ponferrada,426965,117347th (--),NaN,92388th (145 reps),NaN,101151st (--),NaN,116079th (--),NaN,NaN,NaN
5,5,PRASIT,MANKAD,118006,Australia,Oceania,41,CrossFit Richmond,426975,117347th (--),NaN,104270th (218 reps - s),NaN,101151st (--),NaN,104207th (--),NaN,NaN,NaN
6,6,MATTHEW,FIACCO,118007,Canada,North America,33,CrossFit Okanagan,426980,116816th (217 reps - f),NaN,110496th (16:13 - f),225 reps,100075th (8:37 - f),180 reps,99593rd (110 lbs - f),Weight lifted: 110 lbs.,NaN,NaN
7,7,JIM,LIEN,118007,United States,North America,54,NaN,426980,116387th (569 reps - f),NaN,110414th (14:26 - f),225 reps,100176th (9:15 - f),180 reps,100003rd (30 lbs - f),Weight lifted: 30 lbs.,NaN,NaN
8,8,ABRIE,SCHUTTE,118009,United Kingdom,Europe,38,CrossFit Blackwater,426984,115580th (209 reps - s),NaN,110754th (--),NaN,100569th (--),NaN,100081st (--),NaN,302.03294,464.82
9,9,ABDULLAH,ALSHAIKH,118010,Saudi Arabia,Asia,35,Interval Plus CrossFit,426986,114856th (215 reps - s),NaN,111374th (--),NaN,96549th (110 reps - s),NaN,104207th (0 lbs - s),Weight lifted: 0 lbs.,198.41580,459.74